@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F1F5F9;
}
.icon-size {
    width: 1.5rem;
    height: 1.5rem;
}
::selection {
    color: #ddeae4;
    background-color: #3e6357;
}